.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #fde68a;
  color: #92400e;
  font-family: "Satisfy", cursive;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
body {
  background-color: #92400e;
  padding: 2rem 2rem;
}
#btn {
  background-color: #92400e;
  color: white;
  border: 2px solid #92400e;
  font-family: "Satisfy", cursive;
  font-size: large;
  border-radius: 1rem;
}
#list {
  font-family: "Cinzel", serif;
  font-size: x-large;
  padding: 1rem;
}
