.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #fcd34d;
  color: #991b1b;
  font-family: "Satisfy", cursive;
  border-radius: 2rem;
}
body {
  background-color: #991b1b;
  padding: 2rem 2rem;
}
#btn {
  background-color: #991b1b;
  color: white;
  border: 2px solid #fcd34d;
  font-family: "Satisfy", cursive;
  font-size: large;
  border-radius: 1rem;
}
#list {
  font-family: "Cinzel", serif;
  font-size: x-large;
  padding: 1rem;
}
